S3_BUCKET_NAME="kajima-uploaded-images-dev"
PROCESSOR_LAMBDA_FUNCTION_NAME="processor-lambda-kajima-dev"
LAMBDA_RUNTIME_ENVIRONMENT_TIMEOUT=240
API_GATEWAY_BASE_PATH="/dev"
MODEL_CONFIG_PATH="config/classification/tuning/dinov2_base_peft_vit_20250324.json"
# Kintone settings
KINTONE_API_TOKEN=""
KINTONE_SUBDOMAIN=""
KINTONE_APP_ID="1"
KINTONE_DATA_FIELD_CODE="doshitsu_ai"
KINTONE_UPDATE_FIELD_CODE="lambdaの環境変数で渡す"

STAGE="dev"

# Cognito settings
OAUTH_COGNITO_AWS_REGION="ap-northeast-1"
OAUTH_COGNITO_CLIENT_ID=""
OAUTH_COGNITO_CLIENT_SECRET=""
OAUTH_COGNITO_DOMAIN=""
OAUTH_COGNITO_USER_POOL_ID=""